@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-thumb-rounded-full {
    scrollbar-thumb-rounded: full
  }
  .scrollbar-track-rounded-full {
    scrollbar-thumb-rounded: full
  }
}

@layer base {
  html {
    @apply scrollbar-thin scrollbar-thumb-rounded-full scrollbar-track-rounded-full scrollbar-thumb-accent scrollbar-track-secondary overflow-y-scroll;
  }
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }
  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  .text-outline {
    -webkit-text-stroke: 1px #ffffff;
  }
  .text-outline-hover {
    -webkit-text-stroke: 1px #f97c7c;
  }
}
